/* ********* */
/* @FOOTER */
/* ********* */

// CENTRAR CONTENIDO FOOTER
.centrar{
    max-width: $anchoMax;
    margin: 0 auto;
}

// SECCIÓN DE ENLACES
.links{
    // Color de fondo
    background-color: $color_footer_scLinks;

    // Links contenido
    &__contenido{
        @include displayFlex(row, space-between, null);
        padding: 1rem;

        // Espaciado entre elementos lista
        &--lista {
            line-height: $interlineadoLinks;
        }
    }
}

// Listas del mapa del sitio
.titulo {
    font-size: map-get($fuenteSize,h3);
    color: $color_footer_titulo;
}

.links__mapaSitio {
    background-color: transparent;
    color: $color_footer_texto;
    border: none;
    appearance: none;
}

// SECCIÓN DE IDIOMAS
.logoIdiomas{
    // Color de fondo
    background-color: $color_footer_scLogo;

    // Contenido
    &__contenido{
        @include displayFlex(row, space-between, center);
        padding: 1rem;
    }

     // Logo de idiomas
     &__img {
        width: 80px;
        height: 80px;
    }

    // Dirección
    &__direccion {
        padding-left: 1.25rem;
        color: $color_footer_texto;
        font-size: map-get($fuenteSize,p);
    }

    // Copyright
    &__copyright {
        display: flex;
        margin: 0;
    }

    // Select idiomas
    &__select {
        width: 9.375rem;
        padding: 5px;
        border: 1px solid $color_footer_scTerminos;
        color: $color_footer_texto;
    }

}

// SECCIÓN DE TERMINOS Y RRSS
.terminosSocial{
    // Color de fondo
    background-color: $color_footer_scTerminos;

    // Terminos y condiciones
    &__contenido{
        @include displayFlex(row, space-between, center);
        padding: 1rem;
    }
}

// Políticas
.politicas{
    column-count: 3;
    column-rule: 2px solid $color_footer_texto;

    &__privacidad{
        text-align: center;
    }
    > *{
        display: block;
    }

    > a {
        color: $color_footer_texto;
    }
}

// Redes Sociales
.redesSociales {

    svg {
        width: 32px;
        height: 32px;
        fill: $color_footer_texto;
    }
}


