/* ********* */
/* @FOOTER */
/* ********* */
// Colores
.links{
    background-color: $color_footer_scLinks;
}
.logoIdiomas{
    background-color: $color_footer_scLogo;
}
.terminosSocial{
    background-color: $color_footer_scTerminos;
}

// 

.links{

    &__contenido{
        padding: 1rem;
    }
}

.links__contenido {
    display: flex;
    justify-content: space-between;

    &--lista {
        line-height: $interlineadoLinks;
    }
}


.links__mapaSitio {
    border: none;
    color: $color_footer_texto;
}

.titulo {
    color: $color_footer_titulo;
}

.logoIdiomas{

    &__contenido{
        padding: 1rem;
    }

    &__select {
        width: 9.375rem;
        padding: 5px;
        border: 1px solid $color_footer_scTerminos;
        color: $color_footer_texto;
    }
}

.terminosSocial{

    &__contenido{
        padding: 1rem;
    }
}

.centrar{
    max-width: $anchoMax;
    margin: 0 auto;
}


// Terminos y condiciones
.terminosSocial__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoIdiomas__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Políticas
.politicas{
    column-count: 3;
    column-rule: 2px solid $color_footer_texto;

    &__privacidad{
        text-align: center;
    }
    > *{
        display: block;
    }
}

// Logo Idiomas
 .logoIdiomas__copyright {
     display: flex;
     margin: 0;
 }

 .logoIdiomas__img {
    width: 80px;
    height: 80px;
}

.logoIdiomas__direccion {
    padding-left: 1.25rem;
    color: $color_footer_texto
}


// Redes Sociales
a {
    text-decoration: none;
    color: $color_footer_texto;
    svg {
        width: 32px;
        height: 32px;
        fill: $color_footer_texto;
    }
}

